COOKIE_NAME=CookieName
COOKIE_VALUE=CookieValue

BASE_URL=[SENAITE BASE URL]/@@API/senaite/v1     # replace [SENAITE BASE URL] with actual SENAITE lims url
SENAITE_USERNAME=USERNAME
SEANITE_PASSWORD=PASSWORD

M19_API_TOKEN=PROJECT DATABASE API TOKEN
P21_API_TOKEN=PROJECT DATABASE API TOKEN
API_URL=[REDCap SERVER ADDRESS]/api/  #repalce [REDCap SERVER ADDRESS] with actual REDCap URL

SMTP_SERVER=EMAIL_SMTP_SERVER
PORT=SMTP_PORT
SENDER_EMAIL=SENDER_EMAIL_ADDRESS
PASSWORD=SENDER_PASSWORD
RECEIVER_EMAIL=RECEIVER_EMAIL_ADDRESS
CC_EMAIL=CC_EMAIL_ADDRESS
