# MANIFEST.in

# `-> adds all files inside a directory
# uncomment directory that you want to include in the package
#graft redcapconnector/config
graft redcapconnector/data
graft redcapconnector/data/csv
graft redcapconnector/data/daily_result
#graft redcapconnector/log

# `-> matches file paths relative to the root of the project
include .env
include redcapconnector/config/*.yaml
include redcapconnector/data/*.json
include redcapconnector/log/redcap_connector.log
include redcapconnector/config/config_log.yaml
include redcapconnector/config/redcap_variables.json
include redcapconnector/asset/redcap_logo.ico
include redcapconnector/asset/redcap_logo.ico